<section class="lasttitle">
    <a href="./index.html"><span class="picture">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1);transform: msFilter">
                <path
                    d="m21.743 12.331-9-10c-.379-.422-1.107-.422-1.486 0l-9 10a.998.998 0 0 0-.17 1.076c.16.361.518.593.913.593h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a.998.998 0 0 0 .743-1.669z">
                </path>
            </svg>
        </span></a>

    <span class="title3">Актуальні новини</span>
</section>
<section class="lastinfo">
    <div class="inf1">
        <ng-container *ngFor="let photo of photos">
            <div class="inf1-img"><img *ngIf="photo.id == '5'" style="width: 200px;" src={{photo.photo}} alt=""></div>
        </ng-container>
        <div class="inf1text">Війська рф 28 разів за добу обстріляли Херсонщину, поцілили в обласний онкодиспансер: 
            російські війська 28 разів за добу 2 грудня обстріляли територію Херсонщини, поцілили в обласний онкодиспансер.</div>
    </div>
    <div class="inf2">
        <ng-container *ngFor="let photo of photos">
            <div class="inf2-img"><img *ngIf="photo.id == '6'" style="width: 200px;" src={{photo.photo}} alt=""></div>
        </ng-container>
        <div class="inf2-text">Кириленко показав наслідки обстрілів Донеччини за добу. 
            Унаслідок обстрілів Донецької області військовими рф станом на ранок 3 грудня в регіоні пошкоджено багатоповерхівки, зруйновано підприємства та поранено цивільних.</div>
    </div>
    <div class="inf3">
        <ng-container *ngFor="let photo of photos">
            <div class="inf3-img"><img *ngIf="photo.id == '7'" style="width: 200px;" src={{photo.photo}} alt=""></div>
        </ng-container>
        <div class="inf3-text">рф може завдати нового ракетного удару, коли настануть сильні морози – Подоляк: 
            росія може завдати нового масованого ракетного удару по Україні, коли настануть сильні морози.</div>
    </div>
    <div class="inf4">
        <ng-container *ngFor="let photo of photos">
            <div class="inf4-img"><img *ngIf="photo.id == '8'" style="width: 200px;" src={{photo.photo}} alt=""></div>
        </ng-container>
        <div class="inf4-text">росіяни за добу обстріляли вісім областей України. 
            Армія російської федерації за добу здійснила атаки на житло та цивільну інфраструктуру у восьми обла</div>
    </div>
    <div class="inf5">
        <ng-container *ngFor="let photo of photos">
            <div class="inf5-img"><img *ngIf="photo.id == '9'" style="width: 200px;" src={{photo.photo}} alt=""></div>
        </ng-container>
        <div class="inf5-text">В Україні - хвилина мовчання. Пам'яті загиблих у війні проти росії. 
            В Україні - загальнонаціональна хвилина мовчання для вшанування пам'яті загиблих унаслідок збройної </div>
    </div>
    <div class="inf6">
        <ng-container *ngFor="let photo of photos">
            <div class="inf6-img"><img *ngIf="photo.id == '10'" style="width: 200px;" src={{photo.photo}} alt=""></div>
        </ng-container>
        <div class="inf6-text">ЗСУ минулої доби відбили атаки ворога біля шести населених пунктів. 
            За минулу добу підрозділи Сил оборони України відбили атаки російських загарбників в районах населених пунктів Червонопопівка Луганської області та Соледар, Опитне, Невельське, Красногорівка і Мар’їнка на Донеччині.</div>
    </div>
</section>