<section class="words">
    <div class="arrleft">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg>
    </div>
    <div class="text">
        Війна – це поєдинок волі. Якщо ти не готовий всім пожертвувати, значить ти вже програв.
    </div>
    <div class="arrright">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
    </div>
</section>
<section class="home">
    <div class="left-column">
        <a href="/hierarchy">
            <div class="firstLeft">

                <button class="btn">ІЄРАРХІЯ КАТЕГОРІЙ МАЙНА</button>

            </div>
        </a>

        <a href="/machinary">
            <div class="secondLeft">
                <button class="btn">НАЯВНІСТЬ ТЕХНІКИ ПІДРОЗДІЛУ, ЗАКРІПЛЕНІ ВОДІЇ</button>
            </div>
        </a>

    </div>
    <div class="right-column">
        <div class="title2">До Вашої уваги представлена інформація про
            автомобільну техніку підрозділу.
        </div>
        <div class="text2">
            Основним засобом забезпечення тактичної та оперативної рухомості частин і підрозділів армії
            залишається
            військова автомобільна техніка. Її широко застосовують
            для розв’язання різноманітних завдань: транспортування озброєння й техніки, буксирування причіпних
            систем різного призначення, перевезення особового складу та
            військово-технічних вантажів. Також вона є базою під монтаж комплексів ОВТ,
            спеціального обладнання та рухомих засобів обслуговування й ремонту. Відповідно від її досконалості
            безпосередньо залежить рівень бойової готовності війська.
        </div>
    </div>

</section>
<section class="info">
    <div class="info1">
        <div class="info1-img"><img style="width: 175px;" src="assets/images/info1.jpeg" alt=""></div>
        <div class="info2-text">До початку війни з РФ українська армія нараховувала 165 тисяч військових і цивільних службовців, понад 2,5 тисяч танків, бойових броньованих машин, близько 190 бойових і транспортних літаків, 80 вертольотів різних типів, а також 22 бойових кораблі. Сьогодні чисельність ЗСУ наближається до 250 тисяч осіб.</div>
    </div>
    <div class="info2">
        <div class="info2-img"><img style="width: 175px;" src="assets/images/info2.jpeg" alt=""></div>
        <div class="info2-text">Згідно з результатами дослідження про Довіру до інститутів суспільства та політиків, яке провів цього літа Центр Разумкова, найбільше українці довіряють Збройним силам України, а також волонтерам. Зокрема, ЗСУ довіряють 68% українців, волонтерським організаціям – 64%.</div>
    </div>
    <div class="info3">
        <div class="info3-img"><img style="width: 175px;" src="assets/images/info3.jpeg" alt=""></div>
        <div class="info3-text">Наймолодший рід військ - Сили спеціальних операцій (ССО). У складі Збройних Сил України ССО з'явилися лише три роки тому - 5 січня 2016-го. Одними з найважливіших озброєнь, розроблених Україною, стали самохідні артилерійські установки Гвоздика та Акація, а також ракетний комплекс Вільха, крилата ракета Нептун, бронежилет Корсар-М4.</div>
    </div>
</section>
<section>
        <div class="video">
            <iframe class="video1" width="560" height="315" src="https://www.youtube.com/embed/kdYiu5c-ieE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
</section>
<section class="btns">
    <button class="page"><a href="/info">Будь в курсі останніх новин</a></button>
    <button class="pageUp"><a href="#1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter"><path d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"></path></svg></a></button>
</section>
