<section class="home-second1">
    <a href="./index.html"><span class="picture">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1);transform: msFilter">
                <path
                    d="m21.743 12.331-9-10c-.379-.422-1.107-.422-1.486 0l-9 10a.998.998 0 0 0-.17 1.076c.16.361.518.593.913.593h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a.998.998 0 0 0 .743-1.669z">
                </path>
            </svg>
        </span></a>

    <span class="title3">ІЄРАРХІЯ КАТЕГОРІЙ МАЙНА</span>
</section>
<section class="home-second2">
    <div class="left_column1">
        <div class="firstLeft1">
            <button (click)="toggle1()" id="bt" class="btn-1">Легкові<svg *ngIf="!showarr" class="down"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);transform: msFilter">
                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                </svg>
                <svg *ngIf="showarr" id="3" class="up" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);transform: msFilter">
                    <path d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"></path>
                </svg>
            </button>
        </div>
        <ng-container *ngIf="show">
            <div class="toggle-btns">
                <button (click)="toggle2()" class="">Підрозділ 100</button>
                <div class="table-center">
                    <ng-container *ngIf="showtable">
                        <app-first-table></app-first-table>
                    </ng-container>
                </div>

                <button (click)="toggle3()" class="">Підрозділ400</button>
                <ng-container *ngIf="showtable1">
                    <div class="table-center">
                        <app-first1 class="2-table"></app-first1>
                    </div>
                </ng-container>
                <button (click)="toggle4()" class="">Підрозділ 670</button>
                <ng-container *ngIf="showtable2">
                    <div class="table-center">
                        <app-first1 class="3-table"></app-first1>
                    </div>
                </ng-container>
            </div>
        </ng-container>


        <div class="secondLeft1">
            <button (click)="toggle20()" class="btn-1">Вантажні<svg *ngIf="!showarr2" class="down" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter">
                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                </svg>
                <svg *ngIf="showarr2" id="3" class="up" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);transform: msFilter">
                    <path d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"></path>
                </svg>
            </button>
        </div>
        <ng-container *ngIf="show2">
            <div class="toggle-btns">
                <button (click)="toggle21()" class="">Підрозділ 100</button>
                <div class="table-center">
                    <ng-container *ngIf="showtable20">
                        <app-second-table></app-second-table>
                    </ng-container>
                </div>

                <button (click)="toggle22()" class="">Підрозділ400</button>
                <ng-container *ngIf="showtable21">
                    <div class="table-center">
                        <app-second12-table></app-second12-table>
                    </div>
                </ng-container>
                <button (click)="toggle23()" class="">Підрозділ 670</button>
                <ng-container *ngIf="showtable22">
                    <div class="table-center">
                        <app-second13-table></app-second13-table>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <div class="thirdLeft1">
            <button (click)="toggle30()" class="btn-1">Спеціальні<svg *ngIf="!showarr3" class="down" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter">
                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                </svg>
                <svg *ngIf="showarr3" id="3" class="up" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);transform: msFilter">
                    <path d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"></path>
                </svg>
            </button>
        </div>
        <ng-container *ngIf="show3">
            <div class="toggle-btns">
                <button (click)="toggle31()" class="">Підрозділ 100</button>
                <div class="table-center">
                    <ng-container *ngIf="showtable30">
                        <app-third-table></app-third-table>
                    </ng-container>
                </div>

                <button (click)="toggle32()" class="">Підрозділ400</button>
                <ng-container *ngIf="showtable31">
                    <div class="table-center">
                        <app-third12-table></app-third12-table>
                    </div>
                </ng-container>
                <button (click)="toggle33()" class="">Підрозділ 670</button>
                <ng-container *ngIf="showtable32">
                    <div class="table-center">
                        <app-third13-table></app-third13-table>
                    </div>
                </ng-container>
            </div>
        </ng-container>

    </div>
    <div class="right_column1"></div>
</section>
<!-- <p *ngFor="let car of cars"[Car]>{{car.mark}}</p> -->
<div class="sqtitle">
    Підрозділи
</div>
<section class="squads">
    <div class="sq1">
        <div class="sq1-img"><img style="width: 175px;" src="assets/images/inf2.1.svg" alt=""></div>
        <div class="sq2-text">Бригаду сформовано на базі трьох колишніх окремих батальйонів Тилу ЗС України: 1624-го
            окремого автомобільного батальйону підвезення пального (військова частина А0326, раніше А0709 та В5975),
            1647-го окремого автомобільного батальйону (в/ч А0331, раніше А1708 та В5912) та 104-го окремого
            автомобільного батальйону, від якого новостворена бригада успадкувала порядковий та умовний номери.</div>
    </div>
    <div class="sq2">
        <div class="sq2-img"><img style="width: 175px;" src="assets/images/inf2.2.jpeg" alt=""></div>
        <div class="sq2-text">У лютому 1943 року дивізія була переведена в Діксмейде в Бельгії і використовувалася для
            організації берегової оборони визначеного сектору. Дивізію підпорядкували 15-й армії. З 23 листопада 1943
            року дивізія перебувала при головнокомандувачі військ вермахту на Заході, була реорганізована і остаточно
            перетворена на 48-му піхотну дивізію в лютому 1944 року.</div>
    </div>
    <div class="sq3">
        <div class="sq3-img"><img style="width: 175px;" src="assets/images/inf2.3.webp" alt=""></div>
        <div class="sq3-text">З початком антитерористичної операції (АТО) військова частина розпочала виконання бойових
            завдань за призначенням – 6 березня 2014 року з частини вийшла перша колона. В умовах проведення
            антитерористичної операції колони частини здійснювали підвезення матеріальних засобів, боєприпасів,
            паливно-мастильних матеріалів для багатьох військових частин.</div>
    </div>
</section>